[submodule "antigravity-awesome-skills"]
	path = antigravity-awesome-skills
	url = https://github.com/sickn33/antigravity-awesome-skills
[submodule "evolution-api"]
	path = evolution-api
	url = https://github.com/EvolutionAPI/evolution-api
